body {
    background-color: #f8f9fa;
  }
  .login-container {
    margin-top: 100px;
  }
  .login-card {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: white;
  }
  .card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .label-title {
    font-weight: bold;
  }
  table {
    width: 100%;
    border-collapse: collapse; /* to merge adjacent borders */
  }
  table, th, td {
    border: 1px solid black; /* border for table, header, and cells */
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

  .login-container {
    margin-top: 100px;
  }
  .login-card {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: white;
  }
  .card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .label-title {
    font-weight: bold;
  }
  .next{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }